<div class="container">
  <img class="container__top-image" src="../assets/top-image.svg">
  <img class="container__bottom-image" src="../assets/bottom-image.svg">

  <div class="container__main">
    <div class="container__main__countdown">
      <h1 class="container__main__countdown__title">READY TO LAUNCH IN...</h1>
      <div class="container__main__countdown__info">
        <p>Dias</p>
        <p>Horas</p>
        <p>Minutos</p>
        <p>Segundos</p>
      </div>
      <div class="container__main__countdown__countdown-timer">
          <div class="container__main__countdown__countdown-timer__timer">
            <span class="container__main__countdown__countdown-timer__timer__time">{{days}}</span>
          </div>

          <span>:</span>

          <div class="container__main__countdown__countdown-timer__timer">
            <span class="container__main__countdown__countdown-timer__timer__time">{{hours}}</span>
          </div>

          <span>:</span>

          <div class="container__main__countdown__countdown-timer__timer">
            <span class="container__main__countdown__countdown-timer__timer__time">{{minutes}}</span>
          </div>

          <span>:</span>

          <div class="container__main__countdown__countdown-timer__timer">
            <span class="container__main__countdown__countdown-timer__timer__time">{{seconds}}</span>
          </div>
      </div>
      <p class="container__main__countdown__text">Inscreva-se para saber mais sobre o lançamento</p>
      <button class="container__main__countdown__btn">Inscreva-se</button>
    </div>
    <div class="container__main__rocket">
      <img class="container__main__rocket__img" src="../assets/rocket.svg">
    </div>
  </div>
</div>
